.friend:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px yellow;
}

.btn-danger{
    background-color: var(--bg-color-danger);
    color: var(--color-main);
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    text-align: justify;
}

.Leia-Organa {
    border-radius: 0 0 2rem 0;
}

.Obi-Wan-Kenobi {
    border-radius: 0 0 0 2rem;
}