@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

:root {
    --color-main: #eedb00;
    --bg-color-gray: rgba(60, 69, 67, 0.6);
    --bg-color-danger: rgba(204, 3, 35, 0.5);;
}

body {
    font-family: "Poller One", sans-serif;
    background-image: url("/src/assets/sky.jpg");
    color: var(--color-main);
    background-attachment: fixed;
}

header, footer {
    background-color: var(--bg-color-gray);
}

main > .float-start{box-shadow: 0.6rem 0.6rem 0.6rem gray;}

footer {
    height: 5rem;
    border-radius: 0 0 16px 16px;
}